*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #FFFFFF;
    --soft-purple: #855FB2;
    --soft-cyan: #4D96A9;
    --dark-blue: #28293E;
    --grey: #838290;
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    overflow-x: hidden;
}

h1{
    font-weight: 900;
    line-height: 3.4rem;
    color: var(--dark-blue); 
}

h2{
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 0.3rem;
    color: var(--soft-cyan);
}
p{
    font-size: 16px;
    color: var(--grey);
}

button{
    margin: 0 0.2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 25px;
    
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
}

button span{
    opacity: 0.5;
}

/* Header */

header{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}

.hero-tablet{
    display: none;
}

.logo{
    max-width: 15rem;
    margin-bottom: 3rem;
}

.hero{
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0 4rem;
}

.hero-left{
    position: relative;
    right: 2rem;
    width: auto;
    height: 100%
}

.hero-right{
    position: relative;
    left: 2rem;
    width: auto;
    height: 100%
}

.hero-text{
    position: relative;
    top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
    max-width: 34rem;
    
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.download-header{
    background-color: var(--soft-cyan);
}

.what{
    background-color: var(--soft-purple);
}

/*main*/
main{
    margin: 3rem;
    display: flex;
    flex-direction: column;
}

[class*='separator']{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

[class*='separator'] .line-bar{
    width: 2px;
    height: 5rem;
    background-color: hsla(0, 0%, 50%, 0.2);
}

[class*='separator'] .number {
    width: 3rem;
    height: 3rem;

    border-radius: 50%; 
    border: 2px solid hsla(0, 0%, 50%, 0.2);

    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center;

    font-size: 1rem;
    color: var(--grey);
    font-weight: 1000;
    background-color: white;
}

.content-images {
    max-width: 100%;
    margin: 3rem 4rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 2rem;
}

.content-images img{
    width: 21vw;
    max-width: 15rem;
    border-radius: 10px;
}

.content-texts{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
}

.content-texts p{
    margin: 1rem;
    margin-bottom: 0;
    width: 100%;
}

.separator-2{
    margin-top: 0;
    position: relative;
    top: 5.5rem;
    z-index: 2;
}
/* Footer */
footer {
    width: 100%;
  position: relative; 
  z-index: 0; 
  background-image: url('assets/desktop/image-footer.jpg'); 
  background-size: cover;
  background-position: center;
  padding: 5rem 4rem;

  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--soft-cyan); 
  opacity: 0.7; 
  z-index: -1; 
}

footer h1{
    color: white;
}
footer p{
    color: white;
    max-width: 17rem;
}

footer button{
    background-color: var(--soft-purple);
}

/* tablet display style */
@media screen and (max-width: 856px) {
    .hero-right{display: none;}
    .hero-left{display: none;}

    .hero-tablet {
        max-width: 100%;
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
    
    .hero-tablet img {
        max-width: 100%;
        min-width: 25rem;
        height: auto; 
        display: block; 
        margin: 0 auto; 
    }
    .hero{
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
    .hero-text{
        max-width: 30rem;
    }

    footer{
        background-image: url('assets/tablet/image-footer.jpg');
        flex-direction: column;
        text-align: center;
        padding: 3rem 7rem;
        gap: 4rem;
    }

    footer p{
        width: 32rem;
    }
}

@media screen and (max-width: 516px) {
    header{
        margin: 2rem;
    }
    .hero-text{
        margin-top: 0;
    }

    .content-images{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 2rem 0;
    }

    .content-images img{
        min-width: 9rem;
    }

    .content-texts{
        margin: 1rem 0;
    }
}
